<article itemscope itemtype="http://schema.org/JobPosting"
		 class="row tx-nursing__item{f:if(condition: position.topjob, then: ' tx-nursing__item-top')}">

	<div class="col-sm-9">
		<f:render partial="Position/ListMetadata" arguments="{position: position}"></f:render>

		<div itemprop="description">
			<f:format.crop maxCharacters="200">{position.description -> f:format.html()}</f:format.crop>
		</div>
	</div>
	<f:if condition="{position.employer.logo}">
		<div class="col-6 col-sm-3">
			<div class="tx-nursing__item-logo">
				<f:link.action action="show" arguments="{position : position}">
					<f:media file="{position.employer.logo}" alt="{position.employer.title}" class="img-fluid" height="200m" width="296m"></f:media>
				</f:link.action>
			</div>
		</div>
	</f:if>

</article>
