<div class="tx-nursing__item-header">
	<header>

		<h2 itemprop="title">
			<f:if condition="{title}">
				<f:then>
						{title}
				</f:then>
				<f:else>
					<f:link.action action="show" arguments="{position : position}">
						{position.title}
					</f:link.action>
				</f:else>
			</f:if>
		</h2>

		<div class="tx-nursing__item-meta">

			<f:comment>
				Employment / Verhältnis
			</f:comment>
			<div itemprop="employmentType">
				<f:for each="{position.employments}" as="employment" iteration="i">
					{employment.title}
					<f:render section="divider" arguments="{i: i}"></f:render>
				</f:for>
			</div>
			<f:comment>
				Employer / Arbeitgeber
			</f:comment>
			<f:if condition="{settings.list.showEmployer}">

			<div itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
				<span itemprop="name">
					<f:link.page
							pageUid="{position.employer.detailPid -> f:if(condition: '{settings.features.employerLinkInPositionList} || {employerLink}', else: 'false')}">{position.employer.title}</f:link.page>
				</span>
				<f:if condition="{position.location}">
				in
				<span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
				<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    			<span itemprop="addressLocality">
					{position.location.zip} {position.location.title}</span>
					<f:if condition="{settings.list.showRegions} && {position.location.regions}">
					(<span itemprop="addressRegion"><f:for each="{position.location.regions}" as="region" iteration="i">{region.title}<f:render section="divider" arguments="{i: i}"></f:render></f:for></span>)
					</f:if>
			</span>
				</span>
				</f:if>
			</div>
			</f:if>


		</div>
	</header>
</div>

<f:section name="divider"><f:if condition="{i.isLast}"><f:then></f:then><f:else>, </f:else></f:if></f:section>
