<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:if condition="{paginate->f:count()} > 1">
	<f:alias map="{
        paginateMax:  '{f:cObject(typoscriptObjectPath: \'lib.tx_nursing.math\', data: \'{paginate->f:count()}-1\')}',
        paginatePrev: '{f:cObject(typoscriptObjectPath: \'lib.tx_nursing.math\', data: \'{currentPage}-1\')}',
        paginateNext: '{f:cObject(typoscriptObjectPath: \'lib.tx_nursing.math\', data: \'{currentPage}+1\')}'
        }">
		<ul class="tx-nursing-list__paginator">
			<f:render section="results" arguments="{positions: positions}"></f:render>
			<f:if condition="{currentPage} > 0">
				<f:comment>
					<li class="first">
						<f:link.action addQueryString="1" arguments="{page: '0'}">
							&lt;&lt;
						</f:link.action>
					</li>
				</f:comment>
				<li class="prev">
					<f:link.action addQueryString="1" arguments="{page: paginatePrev, filter: filter}">
						Vorherige
					</f:link.action>
				</li>
			</f:if>
			<f:for each="{paginate}" as="paginateItem" key="p" iteration="i">
				<li>
					<f:link.action addQueryString="1" arguments="{page: p, filter: filter}"
								   class="{f:if(condition: '{p} == {currentPage}', then: 'active')}">
						{i.cycle}
					</f:link.action>
				</li>
			</f:for>
			<f:if condition="{currentPage} < {paginateMax}">
				<li class="next">
					<f:link.action addQueryString="1" arguments="{page: paginateNext, filter: filter}">
						Nächste
					</f:link.action>
				</li>
				<f:comment>
					<li class="last">
						<f:link.action addQueryString="1" arguments="{page: paginateMax}">
							&gt;&gt;
						</f:link.action>
					</li>
				</f:comment>
			</f:if>
		</ul>
	</f:alias>
</f:if>

<f:section name="results">
	<li class="count">
		<f:if condition="{positions -> f:count()}">
			<f:then>
				{positions -> f:count()}
			</f:then>
			<f:else>
				Keine
			</f:else>
		</f:if>
		Ergebnisse
	</li>
</f:section>
