<h3>Kurze Bewerbung</h3>
<p>
	<b>Stelle:</b><br>
	Stelle: {position.types.title}
	<br>ID: {position.uid}
	<br>Link:
	<f:link.action absolute="1" pageUid="{settings.listPID}" extensionName="nursing" pluginName="list"
				   controller="Position" action="show" arguments="{position: position}">
		<f:uri.action absolute="1" pageUid="{settings.listPID}" extensionName="nursing" pluginName="list"
					  controller="Position" action="show" arguments="{position: position}"></f:uri.action>
	</f:link.action>
</p>
<p>
	von <b>{form.applicant}</b>
	<f:if condition="{form.telephone}"><br>Telefon: {form.telephone}</f:if>
	<br>E-Mail: <a href="mailto:{form.email}">{form.email}</a>
</p>
<p>
	<b>Bewerbung:</b><br>
	<f:format.raw>
		{form.application}
	</f:format.raw>
</p>

<hr>

<p>
	<small>Diese E-Mail wurde an {position.employer.email} und als Kopie an {bcc} versandt.</small>
</p>
