<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<f:layout name="Default"></f:layout>

<f:section name="content">
	<h2>Geo-Koordinaten geholt</h2>
	<section>
		<p>
			Von den folgenden Einrichtungen wurde die Geo-Koordinaten geholt (Klick auf den Eintrag öffnet die Adresse
			in Googlemaps zum testen):
		</p>
		<table class="table">

			<f:for each="{employers}" as="employer">
				<tr>
					<td>{employer.title}</td>
					<td>
						<a href="https://www.google.de/maps/search/{employer.geoaddress}?hl=de&source=opensearch"
						   target="_blank">
							{employer.geoaddress}
						</a>
					</td>
					<td>
						<a href="https://www.google.de/maps/search/{employer.geolocation}?hl=de&source=opensearch"
						   target="_blank">
							{employer.geolocation}
						</a>
					</td>
				</tr>
			</f:for>
		</table>
	</section>

	<section>
		<h2>Geo-Koordinaten holen</h2>
	<f:if condition="{noloocations}">
		<f:then>


		<p>Noch {noloocations} Einrichtungen ohne Koordinaten.</p>
		<p>

		<f:link.action action="fetchCoords" class="btn btn-primary">
			Weitere Geolocations abholen
		</f:link.action>
		</p>
		</f:then>
		<f:else>
			<p>
				Alle Einrichtungen haben Geokorrodinaten zugewiesen.
			</p>
		</f:else>
	</f:if>
	</section>

</f:section>

</html>
