<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="Default"></f:layout>

<f:section name="content">
	<h2>Import von Stellen</h2>
	<p>Upload CSV here:</p>
	<f:form action="import" enctype="multipart/form-data" method="POST">
		<label for="csv">CSV-File</label>
		<f:form.upload name="csv"></f:form.upload>

		<f:form.submit value="Submit" class="btn btn-success"></f:form.submit>
	</f:form>

	<section>
		<h2>Titel schöner machen</h2>
		<f:link.action action="refineTitles" class="btn btn-primary">
			Titel aufhübschen
		</f:link.action>
	</section>

	<section>
		<h2>Geo-Koordinaten holen</h2>
		<f:link.action action="fetchCoords" class="btn btn-primary">
			GeoKoordinaten bei Google abholen!
		</f:link.action>
	</section>
</f:section>

</html>
