<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="Default"></f:layout>

<f:section name="content">
	<h2>Titel gefixt</h2>
	<f:for each="{regions}" as="region">
		{region.title}<br>
	</f:for>
</f:section>

</html>
