w<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="{f:if(condition: isAjax, then: 'Ajax', else: 'Default')}" />

<f:section name="header">
	<f:render partial="Header.html" arguments="{_all}"></f:render>
</f:section>

<f:section name="main">
	<div class="loader"><p class="loading">Lädt<span>.</span><span>.</span><span>.</span></p></div>

	<!-- pagination -->
	<p>{positions -> f:count()} Ergebnisse</p>

	<f:widget.paginate objects="{positions}" as="ppositions" configuration="{settings.list.pagination}">
	<f:for each="{ppositions}" as="position" iteration="i">
		<f:comment>
			<f:if condition="{i.index} >= {f:cObject(typoscriptObjectPath: 'lib.tx_nursing.math', data: '({page})*2')}">
				<f:if condition="{i.index} < {f:cObject(typoscriptObjectPath: 'lib.tx_nursing.math', data: '({page}+1)*2')}">
				</f:if>
			</f:if>
		</f:comment>
		<f:render partial="Position/ListItem" arguments="{_all}"></f:render>

	</f:for>
	</f:widget.paginate>
	<div class="tx-nursing__overlay"></div>
</f:section>
<f:section name="marker">
</f:section>
<f:section name="aside">
	<f:render partial="Filter" arguments="{_all}"></f:render>
</f:section>
</html>
