<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="tx-nursing">
	<div class="tx-nursing-searchbox">
	<div class="tx-nursing-media">
		<f:media file="{image}" class="img-fluid" width="962"></f:media>
	</div>

	<div class="tx-nursing-box" lang="de">

		{settings.text -> f:format.raw()}

		<f:form method="GET" object="{filter}" objectName="filter" pluginName="list" pageUid="{settings.listPID}">

			<f:render partial="FilterTypes" arguments="{_all}"></f:render>

			<f:render partial="FilterLocations" arguments="{_all}"></f:render>

			<button class="btn btn-default btn-dark" type="submit"><i class="far fa-search"></i></button>

		</f:form>
        <div class="tx-nursing_flag">
            <div class="stripe black"></div>
            <div class="stripe red"></div>
            <div class="stripe gold"></div>
        </div>
	</div>
	</div>
</div>

</html>
