<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="{f:if(condition: isAjax, then: 'Ajax', else: 'Default')}"/>

<f:section name="header"></f:section>

<f:section name="main">

	<h2>Vielen dank, {form.applicant}</h2>
	<p>Ihre Kurz-Bewerbung an {position.employer.title} wurde versandt.</p>
	<p>Der Arbeitgeber wird sich mit Ihnen in Verbindung setzen.</p>
	<p>
		Ihr Team von Mein <b>Pflegeberuf</b>
	</p>

</f:section>

<f:section name="marker"></f:section>

<f:section name="aside"></f:section>

</html>
