{namespace js=Joekolade\Nursing\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Detail"/>

<f:section name="main">
    <article itemscope itemtype="http://schema.org/JobPosting" class="tx-nursing-detail"
             data-geo="{position.coordinates}"
    >

        <div class="tx-nursing__content">
            <f:render partial="Position/ListMetadata"
                      arguments="{position: position, title: position.title, employerLink: '1'}"></f:render>

            <div itemprop="description">
                {position.description -> f:format.raw()}
            </div>

            <f:comment>
                <!--
            <div class="col-12 col-sm-4">
                <f:if condition="{position.employer.logo}">
                    <f:alias map="{image: position.employer.logo}">
                        <f:link.page
                                pageUid="{f:uri.image(image: image, maxWidth: 1200) -> f:if(condition: settings.features.lightbox.enable)}"
                                class="{settings.features.lightbox.css-class}"
                                rel="{settings.features.lightbox.rel-attribute}[{position.uid}]">
                            <f:media title="{position.employer.title}" file="{image}" width="600"
                                     class="img-fluid"></f:media>
                        </f:link.page>
                    </f:alias>
                </f:if>
            </div>
                -->
            </f:comment>


            <div class="tx-nursing__images" itemprop="images">
                <!-- Map -->
                <div class="tx-nursing__image">
                    <div id="tx-nursing__jobmap" class="tx-nursing__jobmap"></div>
                    Standort des Anbieters in Deutschland
                </div>
                <f:if condition="{position.images}">
                    <f:for each="{position.images}" as="image">
                        <div class="tx-nursing__image">
                            <f:link.page
                                    pageUid="{f:uri.image(image: image, width: 1200m) -> f:if(condition: settings.features.lightbox.enable)}"
                                    class="{settings.features.lightbox.css-class}"
                                    rel="{settings.features.lightbox.rel-attribute}[{position.uid}]">
                                <f:media file="{image}" width="420" class="img-fluid"></f:media>
                            </f:link.page>

                            <f:if condition="{image.originalResource.description}">
                                <f:link.page pageUid="{image.originalResource.link}">
                                    {image.originalResource.description}
                                </f:link.page>
                            </f:if>
                        </div>
                    </f:for>
                </f:if>
            </div>


        </div>
        <div class="tx-nursing__aside">

            <!-- jetzt bewerben -->
            <div class="tx-nursing__applicationbox">
                <f:if condition="{position.applicationtext}">

                    {position.applicationtext -> f:format.html()}

                </f:if>
                <div class="tx-nursing__contact_quicklinks">
                    <f:if condition="{position.applicationphone}">
                        <a href="tel:{position.applicationphone}"><span class="hidden">anrufen</span></a>
                    </f:if>
                    <f:if condition="{position.applicationemail}">
                        <js:mailUrl mail="{position.applicationemail}" position="{position}">
                            <span class="hidden">E-Mail senden</span>
                        </js:mailUrl>
                    </f:if>
                </div>
            </div>

            <f:render partial="Form/QuickApplication" arguments="{_all}"></f:render>

            <f:comment>
                <div class="tx-nursing__employer_box">
                    <h3>Ihr Arbeitgeber:</h3>
                    <f:if condition="{position.employer.logo}">
                        <div class="tx-nursing__item-logo">
                            <f:link.page pageUid="{position.employer.detailPid}">
                                <f:media file="{position.employer.logo}" alt="{position.employer.title}"
                                         class="img-fluid"
                                         height="200m" width="296m"></f:media>
                            </f:link.page>
                        </div>
                    </f:if>

                    <b>
                        <f:link.page pageUid="{position.employer.detailPid}">{position.employer.title ->
                            f:format.html()}
                        </f:link.page>
                    </b><br>

                    {position.employer.address -> f:format.html()}

                </div>
            </f:comment>
            <f:comment>

                <div class="lead">
                    <a class="btn btn-primary btn-block" href="javascript:window.print()">
                        <f:translate key="detail.print">Print</f:translate>
                    </a>

                </div>

            </f:comment>
        </div>

    </article>

</f:section>
</html>
