<article itemscope itemtype="http://schema.org/Organization"
		 class="row tx-nursing__item{f:if(condition: employer.topjob, then: ' tx-nursing__item-top')}"
		 data-geo="{employer.geolocation}"
>

	<div class="col-sm-9">

		<div class="tx-nursing__item-header">
			<header>

				<h2 itemprop="title">
					<f:link.page pageUid="{employer.detailpid}">
						{employer.title}
					</f:link.page>
				</h2>

				<p itemprop="employerLocation" itemscope itemtype="http://schema.org/Place">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<span itemprop="addressLocality">{employer.geoaddress}</span>
		</span>
				</p>

			</header>
		</div>


		<div itemprop="description">
			<f:format.crop maxCharacters="200">{employer.description -> f:format.html()}</f:format.crop>
		</div>
	</div>

	<f:if condition="{employer.logo}">
		<div class="col-6 col-sm-3">
			<div class="tx-nursing__item-logo">
				<f:link.page pageUid="{employer.detailpid}">
					<f:media file="{employer.logo}" alt="{employer.title}" class="img-fluid"></f:media>
				</f:link.page>
			</div>
		</div>
	</f:if>

</article>
