<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<h4>
	<a data-toggle="collapse" href="#txNursingForm" aria-expanded="true" aria-controls="txNursingForm">
		<i class="far fa-filter"></i>
		Einrichtung suchen
	</a>
</h4>


<div class="tx_nursing-form collapse show" id="txNursingForm" lang="de">
<f:form method="GET" object="{filter}" objectName="filter" pageUid="{settings.employerListPID}" data="{ajaxtype: settings.employerAjaxpagetype}">

	<f:alias map="{whereLabel: 'Wo suchen Sie?'}">
	<f:render partial="FilterLocations" arguments="{_all}"></f:render>
	</f:alias>

	<f:form.submit class="btn btn-block btn-primary" value="{f:translate(key: 'filter.submit')}"></f:form.submit>

</f:form>
</div>
</html>
