<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<h4 class="block-1">
	<a data-toggle="collapse" href="#txNursingForm" aria-expanded="true" aria-controls="txNursingForm">
		<i class="far fa-filter"></i>
		Suche anpassen
	</a>
</h4>


<div class="tx_nursing-form collapse show" id="txNursingForm" lang="de">
	<f:form method="GET" object="{filter}" objectName="filter" pageUid="{settings.listPID}"
			data="{ajaxtype: settings.ajaxpagetype, useNoAjax: pluginInUse}">


	<f:render partial="FilterTypes" arguments="{_all}"></f:render>


	<f:render partial="FilterLocations" arguments="{_all}"></f:render>

	<!-- Filter: Beschäftigungsverhältnis -->
	<div class="form-group">
		<label for="filterEmployments">
			<f:translate key="filter.position.employments"></f:translate>
		</label>
		<f:form.select id="filterEmployments" class="form-control selectpicker2" multiple="multiple"
					   optionLabelField="title" optionsAfterContent="true" property="employments"
					   options="{employments}"
					   data="{placeholder: '{f:translate(key: \"filter.ph.employments\")}'}"
		>
		</f:form.select>
	</div>

	<!-- Filter: Extras -->
	<div class="form-group">
		<label for="filterExtras">
			<f:translate key="filter.position.extras"></f:translate>
		</label>
		<f:form.select id="filterExtras" class="form-control selectpicker2" multiple="true" optionLabelField="title"
					   optionsAfterContent="true"
					   property="extras" options="{extras}"
					   data="{placeholder: '{f:translate(key: \"filter.ph.extras\")}'}"
		>
		</f:form.select>
	</div>

	<f:form.submit class="btn btn-block btn-primary" value="{f:translate(key: 'filter.submit')}"></f:form.submit>

</f:form>
</div>
</html>
