<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<div class="locationWrapper">
	<!-- Filter: Wo -->
	<div class="form-group filterLocations">
		<label for="filterLocations">
			<f:translate key="filter.position.locations"></f:translate>
		</label>
		<f:form.select id="filterLocations" class="form-control" multiple="multiple" optionLabelField="selectTitle"
					   optionsAfterContent="true" property="locations" options="{locations}"
					   data="{placeholder: '{f:translate(key: \"filter.ph.locations\")}'}"
		>
		</f:form.select>
	</div>
	<div class="form-group filterRegions">
		<label for="filterRegions">
			<f:translate key="filter.position.regions"></f:translate>
		</label>
		<f:form.select id="filterRegions" class="form-control" multiple="multiple" optionLabelField="title"
					   optionsAfterContent="true" property="regions" options="{regions}"
					   data="{placeholder: '{f:translate(key: \"filter.ph.regions\")}'}"
		>
		</f:form.select>
	</div>
	<div class="form-group filterLocs">
		<f:if condition="{searchbox}">
			<f:then>
				<label for="filterLocs" class="sr-only">
					<f:if condition="{whereLabel}">
						<f:then>
							{whereLabel}
						</f:then>
						<f:else>
							<f:translate key="filter.searchbox.locs"></f:translate>
						</f:else>
					</f:if>
				</label>
				<select id="filterLocs" class="form-control selectpicker2" multiple="true"
						name="tx_nursing_list[filter][locs]"
						data-placeholder="{f:translate(key: 'filter.searchbox.locs')}?"
				>
					<optgroup property="regions" label="Regionen"></optgroup>
					<optgroup property="cities" label="Städte"></optgroup>
				</select>
			</f:then>
			<f:else>
				<label for="filterLocs">
					<f:if condition="{whereLabel}">
						<f:then>
							{whereLabel}
						</f:then>
						<f:else>
							<f:translate key="filter.position.locs"></f:translate>
						</f:else>
					</f:if>
				</label>
				<select id="filterLocs" class="form-control selectpicker2" multiple="true"
						name="tx_nursing_list[filter][locs]"
						data-placeholder="{f:translate(key: 'filter.ph.locs')}"
				>
					<optgroup property="regions" label="Regionen"></optgroup>
					<optgroup property="cities" label="Städte"></optgroup>
				</select>
			</f:else>
		</f:if>

	</div>
</div>

</html>
