<div class="form-group">

	<f:if condition="{searchbox}">
		<f:then>
			<label class="sr-only" for="filterTypes">
				<f:translate key="filter.searchbox.types"></f:translate>
			</label>
			<f:form.select id="filterTypes" class="form-control selectpicker2" multiple="true" optionLabelField="title" property="types" options="{types}" data="{placeholder: '{f:translate(key: \"filter.searchbox.types\")}?'}">
			</f:form.select>
		</f:then>
		<f:else>
			<label for="filterTypes">
				<f:translate key="filter.position.types"></f:translate>
			</label>
			<f:form.select id="filterTypes" class="form-control selectpicker2" multiple="true" optionLabelField="title" property="types" options="{types}" data="{placeholder: '{f:translate(key: \"filter.ph.types\")}'}">
			</f:form.select>
		</f:else>
	</f:if>
</div>
