<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{settings.title}">
	<f:switch expression="{settings.titleType}">
		<f:case value="1">
			<h1>
				<f:render section="title" arguments="{filter: filter}"></f:render>
			</h1>
		</f:case>
		<f:case value="2">
			<h2>
				<f:render section="title" arguments="{filter: filter}"></f:render>
			</h2>
		</f:case>
		<f:case value="3">
			<h3>
				<f:render section="title" arguments="{filter: filter}"></f:render>
			</h3>
		</f:case>
		<f:case default="true">
			<h1>
				<f:render section="title" arguments="{filter: filter}"></f:render>
			</h1>
		</f:case>
	</f:switch>
</f:if>

<f:section name="title">
	{settings.title}<f:if condition="{filter.types}">:
		<f:for each="{filter.types}" as="type" iteration="i">
			{type.title}<f:if condition="{i.isLast}"><f:then></f:then><f:else>, </f:else></f:if>
		</f:for>
	</f:if>
</f:section>
