<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<f:comment>

	so soeht ein BS4 paginator aus:

	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href="#">Previous</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>

</f:comment>


<f:if condition="{configuration.insertAbove}">
	<f:render section="paginator" arguments="{pagination: pagination, configuration: configuration}"/>
</f:if>

<f:renderChildren arguments="{contentArguments}"/>

<f:if condition="{configuration.insertBelow}">
	<f:render section="paginator" arguments="{pagination: pagination, configuration: configuration}"/>
</f:if>

<f:section name="paginator">
	<nav aria-label="page navigation">

		<ul class="pagination justify-content-center">
			<f:if condition="{pagination.previousPage}">
				<li class="page-item">
					<f:if condition="{pagination.previousPage} > 1">
						<f:then>
							<f:widget.link class="page-link" rel="prev"
										   arguments="{currentPage: pagination.previousPage}"
										   addQueryStringMethod="{configuration.addQueryStringMethod}"
										   section="{configuration.section}">
								<i class="far fa-backward"></i>
								<span class="sr-only"><f:translate key="widget.pagination.previous"/></span>
							</f:widget.link>
						</f:then>
						<f:else>
							<f:widget.link class="page-link" rel="prev"
										   addQueryStringMethod="{configuration.addQueryStringMethod}"
										   section="{configuration.section}">
								<i class="far fa-backward"></i>
								<span class="sr-only"><f:translate key="widget.pagination.previous"/></span>
							</f:widget.link>
						</f:else>
					</f:if>
				</li>
			</f:if>
			<f:if condition="{pagination.displayRangeStart} > 1">
				<li class="page-item">
					<f:widget.link class="page-link" addQueryStringMethod="{configuration.addQueryStringMethod}"
								   section="{configuration.section}">1
					</f:widget.link>
				</li>
			</f:if>
			<f:if condition="{pagination.hasLessPages}">
				<li class="page-item">...</li>
			</f:if>
			<f:for each="{pagination.pages}" as="page">
				<f:if condition="{page.isCurrent}">
					<f:then>
						<li class="page-item active">
							<a href="#" class="page-link">{page.number}</a>
						</li>
					</f:then>
					<f:else>
						<li class="page-item">
							<f:if condition="{page.number} > 1">
								<f:then>
									<f:widget.link class="page-link" arguments="{currentPage: page.number}"
												   addQueryStringMethod="{configuration.addQueryStringMethod}"
												   section="{configuration.section}">{page.number}
									</f:widget.link>
								</f:then>
								<f:else>
									<f:widget.link class="page-link"
												   addQueryStringMethod="{configuration.addQueryStringMethod}"
												   section="{configuration.section}">{page.number}
									</f:widget.link>
								</f:else>
							</f:if>
						</li>
					</f:else>
				</f:if>
			</f:for>
			<f:if condition="{pagination.hasMorePages}">
				<li class="page-item">...</li>
			</f:if>
			<f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
				<li class="page-item">
					<f:widget.link class="page-link" arguments="{currentPage: pagination.numberOfPages}"
								   addQueryStringMethod="{configuration.addQueryStringMethod}"
								   section="{configuration.section}">{pagination.numberOfPages}
					</f:widget.link>
				</li>
			</f:if>
			<f:if condition="{pagination.nextPage}">
				<li class="page-item">
					<f:widget.link rel="next" class="page-link" arguments="{currentPage: pagination.nextPage}"
								   addQueryStringMethod="{configuration.addQueryStringMethod}"
								   section="{configuration.section}">
						<i class="far fa-forward"></i>
						<span class="sr-only"><f:translate key="widget.pagination.next"/></span>
					</f:widget.link>
				</li>
			</f:if>
		</ul>
	</nav>
</f:section>
</html>
