<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="tx-nursing__content{f:if(condition: prefilter, then: ' prefilter')}">
	<f:render section="main"/>
	<script type="text/javascript">
		staticMapMarkers = null;
	</script>
</section>
</html>
