<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="tx-nursing tx-nursing__aside">

	<f:render section="header"/>

	<f:render section="main"/>
</div>
</html>
