<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tx-nursing">
	<section class="tx-nursing__header">
		<f:render section="header"></f:render>
	</section>
	<div class="tx-nursing-list{f:if(condition: prefilter, then: ' prefilter')}">

		<section class="tx-nursing__content">
			<f:render section="main"/>
			<f:render section="marker"/>
		</section>

		<div class="tx-nursing__aside">
			<f:render section="aside"/>
		</div>
	</div>
</div>
</html>
