<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<h2>Kurz-Bewerbung:</h2>

<f:cObject typoscriptObjectPath="lib.tx_nursing_quick_application"
           data="{title: position.title, positionlink: '{f:link.page(pageUid: 8)}'}"></f:cObject>

</html>