<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<f:if condition="{settings.features.useQuickApplicationForms}">
	<f:if condition="{settings.features.usePowermailForQuickApplication}">
		<f:then>
			<f:render partial="Form/PowermailQuickApplication" arguments="{_all}"></f:render>
		</f:then>
		<f:else>
			<div class="quickApplicationForm-wrapper">
				<f:if condition="{position.employer.email}">
					<f:then>
						<h2>Kurz-Bewerbung:</h2>
						<f:form method="POST" object="quickApplicationForm" objectName="quickApplicationForm"
								action="sendQuickApplication"
								id="quickApplicationForm"
								class="quickApplicationForm"
								data="{ajaxtype: settings.formAjaxpagetype}">
							<f:form.hidden name="position" value="{position}"></f:form.hidden>

							<div class="form-group">
								<label for="applicant">Ihr Name</label>
								<f:form.textfield id="applicant" property="applicant" class="form-control"
												  errorClass="parsley-error"
												  placeholder="Ihr Name"
												  data="{parsley-required: '', parsley-required-message: 'Wir sollten Ihren Namen wissen!', parsley-minlength-message: 'Bitte geben Sie mindestens 3 Buchstaben als Namen ein!', parsley-minlength: '3'}"></f:form.textfield>
							</div>
							<div class="form-group">
								<label for="telefon">Telefon</label>
								<f:form.textfield id="telefon" property="telephone" class="form-control"
												  errorClass="parsley-error"
												  placeholder="Telefon"></f:form.textfield>
							</div>
							<div class="form-group">
								<label for="email">E-Mail</label>
								<f:form.textfield type="email" id="email" property="email" class="form-control"
												  placeholder="E-Mail"
												  errorClass="parsley-error"
												  data="{parsley-trigger: 'change', parsley-type: 'email', parsley-required: '', parsley-required-message: 'Wir benötigen Ihre E-Mail um Sie zu kontaktieren!', parsley-type-message: 'Bitte prüfen Sie ihre Eingabe und geben Sie eine gültige E-Mail-Adresse an!'}"></f:form.textfield>
							</div>
							<div class="form-group">
								<label for="application">Ihre Nachricht an uns</label>
								<f:form.textarea class="form-control" id="application" property="application"
												 errorClass="parsley-error"
												 rows="3" placeholder="Ihre Nachricht an uns"
												 data="{parsley-required: '', parsley-error-message: 'Schreiben Sie uns ein paar Worte!'}"></f:form.textarea>
							</div>
							<div class="form-check" id="check-legals">
								<f:form.checkbox value="" property="legals" class="form-check-input" id="legals"
												 errorClass="parsley-error"
												 additionalAttributes="{required: 'required'}"
												 data="{parsley-error-message: 'Bitte akzeptieren Sie die Datenschutzbestimmungen'}"></f:form.checkbox>
								<label class="form-check-label" for="legals">
									<small>
										<f:format.raw>
											<f:translate key="text.agbText"
														 arguments="{0: '{f:uri.page(absolute: 1, pageUid: \'{settings.legalsPageId}\')}'}"></f:translate>
										</f:format.raw>
									</small>
									<!--
									Ich habe die <f:link.page pageUid="{settings.legalsPageId}" target="_blank">Vereinbarung zum Datenschutz</f:link.page> gelesen und stimme ihr zu.
									-->
								</label>
							</div>

							<button type="submit" disabled="disabled" class="btn btn-primary">Kurze Bewerbung absenden
							</button>

							<input name="email2" id="email2" type="text" value="" data-parsley-no-focus
								   placeholder="Bitte diese Feld nicht ausfüllen"
								   data-parsley-excluded>
						</f:form>
					</f:then>
					<f:else>
						<!-- no email for employer given! -->
					</f:else>
				</f:if>
			</div>
		</f:else>
	</f:if>

</f:if>
</html>
