.tx-nursing-list.prefilter .tx-nursing__content {
  display: none; }
.tx-nursing-list.prefilter .tx-nursing__aside h4 {
  display: none; }
@media screen and (min-width: 992px) {
  .tx-nursing-list.prefilter .tx-nursing__aside {
    transform: translate(-920px, 0); } }
.tx-nursing-detail, .tx-nursing-list {
  display: grid;
  grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  grid-template-areas: "head head" "sside sside" "content content";
  margin-left: 0;
    margin-right: 0;
}

.tx-nursing-detail .tx-nursing__header,
.tx-nursing-detail .tx-nursing__content,
.tx-nursing-detail .tx-nursing__aside, .tx-nursing-list .tx-nursing__header,
.tx-nursing-list .tx-nursing__content,
.tx-nursing-list .tx-nursing__aside {
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row-span: 1;
}
  .tx-nursing-detail .tx-nursing__header, .tx-nursing-list .tx-nursing__header {
    grid-area: head;
      grid-row-start: 1;
  }
  .tx-nursing-detail .tx-nursing__content, .tx-nursing-list .tx-nursing__content {
    grid-area: content;
      grid-row-start: 3;
  }
  .tx-nursing-detail .tx-nursing__aside, .tx-nursing-list .tx-nursing__aside {
    grid-area: sside;
      grid-row-start: 2;
  }

@media screen and (min-width: 992px) {
    .tx-nursing-detail, .tx-nursing-list {
      grid-template-columns: 1fr 270px;
      grid-template-rows: 1fr auto;
        grid-template-areas: "head head" "content sside";
    }

    .tx-nursing-detail .tx-nursing__content, .tx-nursing-list .tx-nursing__content {
        grid-row-start: 2;
        -ms-grid-column-span: 1;
    }

    .tx-nursing-detail .tx-nursing__aside, .tx-nursing-list .tx-nursing__aside {
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
    }
}
.tx-nursing-detail {
    grid-template-areas: "head head" "content content" "sside sside";
}

.tx-nursing-detail .tx-nursing__content {
    grid-area: content;
    grid-row-start: 2;
}

.tx-nursing-detail .tx-nursing__aside {
    grid-area: sside;
    grid-row-start: 3;
}

.tx-nursing-detail .tx-nursing__aside {
    border: none;
    padding: 0;
}

.tx-nursing-detail [itemprop="description"] {
    margin-top: 2em;
}

.tx-nursing-detail [itemprop="images"] {
    margin-top: 2em;
}

@media screen and (min-width: 992px) {
    .tx-nursing-detail {
        grid-template-columns: 1fr 270px;
        grid-template-areas: "head head" "content sside";
    }

    .tx-nursing-detail .tx-nursing__content {
        grid-row-start: 2;
        -ms-grid-column-span: 1;
    }

    .tx-nursing-detail .tx-nursing__aside {
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
    }
}
.tx-nursing .tx-nursing__item {
  border-bottom: thin solid #c4c4c4;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }
  @media screen and (min-width: 992px) {
    .tx-nursing .tx-nursing__item {
      border: none;
      margin-bottom: 2.5rem; } }
.tx-nursing .tx-nursing__item-meta {
  color: #00c5ff; }
.tx-nursing .tx-nursing__item-header {
  display: grid;
  grid-template-columns: 1fr 125px; }
  .tx-nursing .tx-nursing__item-header h2, .tx-nursing .tx-nursing__item-header h3, .tx-nursing .tx-nursing__item-header h4 {
    margin: 0;
    line-height: 1.1; }
    .tx-nursing .tx-nursing__item-header h2 a, .tx-nursing .tx-nursing__item-header h3 a, .tx-nursing .tx-nursing__item-header h4 a {
      text-decoration: underline; }
.tx-nursing .tx-nursing__item-logo {
  margin-right: 15px; }
  @media screen and (min-width: 992px) {
    .tx-nursing .tx-nursing__item-logo {
      text-align: right; } }
.tx-nursing .tx-nursing-list__paginator {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0; }
  .tx-nursing .tx-nursing-list__paginator li {
    margin: 0 7.5px 0 0; }
  .tx-nursing .tx-nursing-list__paginator li a {
    display: inline-block;
    padding: 0 7.5px; }
    .tx-nursing .tx-nursing-list__paginator li a:hover, .tx-nursing .tx-nursing-list__paginator li a.active {
      background: #00c5ff;
      color: white; }

.tx-nursing__aside {
  border: thin solid #c4c4c4;
  padding: 0 15px;
  transition: transform 0.3s linear; }

.tx-nursing-box h4,
.tx-nursing__aside h4 {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  font-size: 1rem; }
  @media screen and (min-width: 992px) {
    .tx-nursing-box h4,
    .tx-nursing__aside h4 {
      margin-left: 0;
      margin-right: 0; } }
  .tx-nursing-box h4 a[data-toggle="collapse"],
  .tx-nursing__aside h4 a[data-toggle="collapse"] {
    padding: 5px;
    display: block;
    transition: 0.3s;
    text-decoration: none; }
.tx-nursing-box form,
.tx-nursing__aside form {
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0;
  transition: 0.3s ease-in 0.15s; }
  .tx-nursing-box form.show,
  .tx-nursing__aside form.show {
    opacity: 1; }
@media screen and (min-width: 992px) {
  .tx-nursing-box,
  .tx-nursing__aside {
    border: none;
    padding: 0; } }

.locationWrapper .filterLocs {
  display: none; }
.locationWrapper.locs-replaces .filterLocs {
  display: block; }
.locationWrapper.locs-replaces .filterLocations,
.locationWrapper.locs-replaces .filterRegions {
  display: none; }

.dropdown-menu.show .dropdown-menu {
  display: block; }

.stage .tx-nursing {
    border-bottom: 5px solid #00c5ff;
}

.tx-nursing-searchbox {
  position: relative; }
  .tx-nursing-searchbox .tx-nursing-box {
    background: rgba(0, 197, 255, 0.8);
    color: white;
      padding: 15px 30px 0;
  }

.tx-nursing-searchbox .tx-nursing-box h3 {
    font-size: 1.25rem;
}
    .tx-nursing-searchbox .tx-nursing-box form {
      margin-top: 0;
      margin-bottom: 0; }

.tx-nursing-searchbox .tx-nursing_flag {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25px;
    display: flex;
    flex-direction: column;
}

.tx-nursing-searchbox .tx-nursing_flag .stripe {
    background: #000;
    height: 100%;
    opacity: 0.7;
}

.tx-nursing-searchbox .tx-nursing_flag .stripe.gold {
    background: yellow;
}

.tx-nursing-searchbox .tx-nursing_flag .stripe.red {
    background: red;
}
  @media screen and (min-width: 767px) {
    .tx-nursing-searchbox .tx-nursing-box {
      max-width: 65%;
      min-width: 65%;
      position: absolute;
      bottom: 0; }
      .tx-nursing-searchbox .tx-nursing-box form {
        position: relative; }
      .tx-nursing-searchbox .tx-nursing-box .form-group {
        margin-bottom: .25em;
        max-width: 80%; }

      .tx-nursing-searchbox .tx-nursing-box .form-group:last-child {
          margin-bottom: 0;
      }
      .tx-nursing-searchbox .tx-nursing-box button {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10%;
        margin-right: 5%; } }
  @media screen and (min-width: 992px) {
    .tx-nursing-searchbox .tx-nursing-box {
      max-width: 45%;
        min-width: 45%;
    }
  }

.ajax-form:not(.powermail_form) input[type="submit"], .ajax-form:not(.powermail_form) button[type="submit"] {
  display: none; }
.ajax-form:not(.powermail_form).quickApplicationForm input[type="submit"], .ajax-form:not(.powermail_form).quickApplicationForm button[type="submit"] {
    display: block;
}

.loader {
  font-size: 3rem;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 2;
  color: #00c5ff;
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  height: 0;
  overflow: hidden; }
  .show-overlay .loader {
    opacity: 1;
    height: auto; }

.tx-nursing-list {
  position: relative; }

.tx-nursing__content {
  position: relative; }
  .show-overlay .tx-nursing__content {
    overflow: hidden; }
  .tx-nursing__content .tx-nursing__overlay {
    outline: thin solid maroon;
    background: white;
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 0%;
    opacity: 0;
    transition: opacity 0.3s; }
    .show-overlay .tx-nursing__content .tx-nursing__overlay {
      min-height: 100%;
      opacity: .75; }

@keyframes blink {
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }
.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both; }
  .loading span:nth-child(2) {
    animation-delay: .2s; }
  .loading span:nth-child(3) {
    animation-delay: .4s; }

.tx-nursing_aside-address {
  margin-bottom: 3em; }

.tx-nursing_employer-position-list {
  margin-top: 3em; }
  .tx-nursing_employer-position-list .tx-nursing_employer-position-list-item {
    margin-bottom: 1em; }
  .tx-nursing_employer-position-list .tx-nursing__item-meta {
    line-height: 1; }
    .tx-nursing_employer-position-list .tx-nursing__item-meta h5 {
      margin-bottom: 0; }

.tx-nursing .select2-container--default .select2-selection--multiple {
  border-radius: 0; }

.tx-nursing__images .tx-nursing__jobmap {
  background: rgba(0, 197, 255, 0.5);
  width: 100%;
  height: 0;
  max-width: 100%;
    padding-bottom: 75%;
}
.tx-nursing__images .tx-nursing__image {
  width: 100%;
  padding: 0 0 15px;
    transition: 0.3s;
}
@media screen and (min-width: 420px) {
  .tx-nursing__images {
    display: flex;
    flex-wrap: wrap;
      margin: -15px;
  }
    .tx-nursing__images .tx-nursing__image {
        width: 50%;
        padding: 0 15px 15px;
    }
}

#tx-nursing__map {
  height: 350px;
  max-height: 0;
  overflow: hidden; }
  #tx-nursing__map.open {
    max-height: 350px; }

.tx-nursing__applicationbox {
    margin-bottom: 2em;
}

.tx-nursing__contact_quicklinks {
  display: flex;
    justify-content: space-around;
}

.tx-nursing__contact_quicklinks a {
    width: 70px;
    height: 70px;
    display: block;
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
}

.tx-nursing__contact_quicklinks a[href^="tel:"] {
    background-image: url(../Images/tel-pl.svg);
}

.tx-nursing__contact_quicklinks a[href^="mailto:"] {
    background-image: url(../Images/mail-pl.svg);
}

.tx-nursing__contact_quicklinks a .hidden {
    display: none;
}

.quickApplicationForm-wrapper h2, .quickApplicationForm-wrapper h3, .quickApplicationForm-wrapper h4, .quickApplicationForm-wrapper p {
    color: #c4c4c4;
}
.quickApplicationForm-wrapper input,
.quickApplicationForm-wrapper textarea {
    color: #444;
}

.quickApplicationForm-wrapper input::-webkit-input-placeholder,
.quickApplicationForm-wrapper textarea::-webkit-input-placeholder {
    color: #c4c4c4;
}

.quickApplicationForm-wrapper input::-moz-placeholder,
.quickApplicationForm-wrapper textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #c4c4c4;
}

.quickApplicationForm-wrapper input:-ms-input-placeholder,
.quickApplicationForm-wrapper textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #c4c4c4;
}

.quickApplicationForm-wrapper input:-moz-placeholder,
.quickApplicationForm-wrapper textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #c4c4c4;
}

.quickApplicationForm label:not(.form-check-label) {
    display: none;
}
.quickApplicationForm input#email2 {
  position: absolute;
  left: -200vw;
  top: 100vh;
  opacity: 0;
  pointer-events: initial;
  height: 1px;
  overflow: hidden;
    width: auto;
}
.quickApplicationForm input,
.quickApplicationForm textarea,
.quickApplicationForm button {
  width: 100%;
    text-align: left;
}

.quickApplicationForm input.form-check-input,
.quickApplicationForm textarea.form-check-input,
.quickApplicationForm button.form-check-input {
    width: auto;
}
.quickApplicationForm .form-check {
    margin-bottom: .5em;
}

.quickApplicationForm-wrapper input.parsley-error,
.quickApplicationForm-wrapper select.parsley-error,
.quickApplicationForm-wrapper textarea.parsley-error {
  color: #c32d44;
  background-color: #f2dede;
    border: 1px solid #c32d44;
}
.quickApplicationForm-wrapper .form-check.parsley-error {
  background-color: #f2dede;
    border: 1px solid #c32d44;
}

.quickApplicationForm-wrapper .form-check.parsley-error .parsley-errors-list {
    color: #c32d44;
}
.quickApplicationForm-wrapper input.parsley-success, .quickApplicationForm-wrapper select.parsley-success, .quickApplicationForm-wrapper textarea.parsley-success {
  border: 1px solid #00c5ff;
  background: #fff;
    color: #00c5ff;
}
.quickApplicationForm-wrapper .form-check.parsley-success {
  background-color: #fff;
    border: 1px solid #00c5ff;
}

/*# sourceMappingURL=nursing_styles.css.map */
