// ext:nursing
//

$text-color: #444;
$link-color: #00c5ff;
$link-hover-color: #008ab3;

$border-color: lighten($text-color, 50%);

$grid-col-md: 70px;
$filter-width-md: 200px;
$filter-logo-width-md: 125px;
$grid-gap: 30px;
$space: 2em;

$blue: #00c5ff;

.tx-nursing {

  // Prefilter
  &-list.prefilter {
    .tx-nursing__content {
      display: none;
    }
    .tx-nursing__aside {
      h4 {
        display: none;
      }
      @media screen and (min-width: 992px) {
        transform: translate(-920px, 0);
      }
    }
  }

  // commons List and Detail

  &-detail,
  &-list {

    display: grid;
    grid-gap: $grid-gap;

    //grid-template-columns: auto auto;
    //  grid-template-rows: auto 1fr 1fr;
    //grid-template-areas: "head head" "sside sside" "content content";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "head head" "sside sside" "content content";

    margin-left: 0;
    margin-right: 0;

    .tx-nursing__header,
    .tx-nursing__content,
    .tx-nursing__aside {
      // IE
      grid-column-start: 1;
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 1;
    }

    .tx-nursing__header {
      grid-area: head;

      // IE
      grid-row-start: 1;
    }

    .tx-nursing__content {
      grid-area: content;

      // IE
      grid-row-start: 3;
    }

    .tx-nursing__aside {
      grid-area: sside;

      // IE
      grid-row-start: 2;
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: 1fr ($grid-col-md * 3 + $grid-gap * 2); //$filter-width-md;
      grid-template-rows: 1fr auto;
      grid-template-areas: "head head" "content sside";

      .tx-nursing__content {
        grid-row-start: 2;
        -ms-grid-column-span: 1;
      }

      .tx-nursing__aside {
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
      }
    }

  }

  // List
  &-list {

  }

  // Detail
  &-detail {

    grid-template-areas: "head head" "content content" "sside sside";

    .tx-nursing__content {
      grid-area: content;
      // IE
      grid-row-start: 2;
    }

    .tx-nursing__aside {
      grid-area: sside;
      // IE
      grid-row-start: 3;
    }

    .tx-nursing__aside {
      border: none;
      padding: 0;
    }

    [itemprop="description"] {
      margin-top: $space;
    }
    [itemprop="images"] {
      margin-top: $space;
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: 1fr ($grid-col-md * 3 + $grid-gap * 2);
      grid-template-areas: "head head" "content sside";

      .tx-nursing__content {
        grid-row-start: 2;
        -ms-grid-column-span: 1;
      }

      .tx-nursing__aside {
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
      }
    }
  }

  .tx-nursing__item {
    border-bottom: thin solid $border-color;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 992px) {
      border: none;
      margin-bottom: 2.5rem;
    }
  }

  .tx-nursing__item-meta {
    color: $blue;

    > div[itemprop] {
    }
  }

  .tx-nursing__item-header {
    display: grid;
    grid-template-columns: 1fr $filter-logo-width-md;

    h2, h3, h4 {
      margin: 0;
      line-height: 1.1;

      a {
        //color: $link-hover-color;
        text-decoration: underline;
      }
    }

    //color: $blue;
  }

  .tx-nursing__item-logo {
    margin-right: $grid-gap/2;

    @media screen and (min-width: 992px) {
      text-align: right;
    }
  }

  .tx-nursing-list__paginator {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    li {
      margin: 0 $grid-gap/4 0 0;
    }
    li a {
      display: inline-block;
      padding: 0 $grid-gap/4;
      &:hover, &.active {
        background: $blue;
        color: white
      }
    }
  }

}

// Filter

.tx-nursing__aside {
  border: thin solid $border-color;
  padding: 0 $grid-gap / 2;
  transition: transform 0.3s linear;
}

.tx-nursing-box,
.tx-nursing__aside {
  h4 {
    margin-left: - ($grid-gap / 2);
    margin-right: - ($grid-gap / 2);
    margin-bottom: 0;
    font-size: 1rem;

    @media screen and (min-width: 992px) {
      margin-left: 0;
      margin-right: 0;
    }

    a[data-toggle="collapse"] {
      padding: $grid-gap/6; // $grid-gap/2;
      display: block;
      transition: 0.3s;
      text-decoration: none;
    }
  }

  form {
    margin-top: $grid-gap;
    margin-bottom: $grid-gap;

    opacity: 0;
    transition: 0.3s ease-in 0.15s;

    &.show {
      opacity: 1;
    }
  }

  @media screen and (min-width: 992px) {
    border: none;
    padding: 0;
  }
}

.locationWrapper {
  .filterLocs {
    display: none;
  }

  &.locs-replaces {
    .filterLocs {
      display: block;
    }
    .filterLocations,
    .filterRegions {
      display: none;
    }
  }
}

.dropdown-menu {
  &.show {
    .dropdown-menu {
      display: block;
    }
  }
}

// Stage plugin
//
.stage .tx-nursing {
  border-bottom: 5px solid $link-color;
}

.tx-nursing-searchbox {
  position: relative;

  .tx-nursing-image {
  }
  .tx-nursing-box {

    h3 {
      font-size: 1.25rem;
    }
    background: rgba($link-color, 0.8);
    color: white;

    padding: $grid-gap/2 $grid-gap 0;

    form {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .tx-nursing_flag {
    $flag-width: 25px;
    $flag-opacity: 0.7;

    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;

    width: $flag-width;
    display: flex;
    flex-direction: column;

    .stripe {
      background: #000;
      height: 100%;
      opacity: $flag-opacity;

      &.gold {
        background: yellow;
      }
      &.red {
        background: red;
      }
    }
  }

  @media screen and (min-width: 767px) {
    .tx-nursing-box {
      max-width: 65%;
      min-width: 65%;
      position: absolute;
      bottom: 0;

      form {
        position: relative;
      }
      .form-group {
        margin-bottom: .25em;
        max-width: 80%;

        &:last-child {
          margin-bottom: 0;
        }
      }
      button {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10%;
        margin-right: 5%;
      }
    }
  }

  @media screen and (min-width: 992px) {
    .tx-nursing-box {
      max-width: 45%;
      min-width: 45%;
    }
  }

}

// Ajax
//

.ajax-form:not(.powermail_form) {
  input, button {
    &[type="submit"] {
      display: none;
    }
  }

  &.quickApplicationForm {
    input, button {
      &[type="submit"] {
        display: block;
      }
    }
  }
}

.loader {
  font-size: 3rem;
  opacity: 0;
  position: absolute;
  left: 0;
  top: $grid-gap * 2;
  z-index: 2;
  color: $link-color;
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  height: 0;
  overflow: hidden;

  .show-overlay & {
    opacity: 1;
    height: auto;
  }
}

.tx-nursing-list {
  position: relative;
}

.tx-nursing__content {
  position: relative;

  .show-overlay & {
    overflow: hidden;
  }

  .tx-nursing__overlay {
    outline: thin solid maroon;
    background: rgba(255, 255, 255, 1);
    position: absolute;

    top: 0;
    min-width: 100%;
    min-height: 0%;
    opacity: 0;

    transition: opacity 0.3s;

    .show-overlay & {
      min-height: 100%;
      opacity: .75;
    }
  }
}

// Animate loading
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;

  &:nth-child(2) {
    animation-delay: .2s;
  }
  &:nth-child(3) {
    animation-delay: .4s;
  }
}

// Employer specials
//
$employer-gap: 3em;
.tx-nursing_aside-address {
  margin-bottom: $employer-gap;
}

.tx-nursing_employer-position-list {
  margin-top: $employer-gap;

  .tx-nursing_employer-position-list-item {
    margin-bottom: $employer-gap / 3;
  }
  .tx-nursing__item-meta {
    line-height: 1;

    h5 {
      margin-bottom: 0;
    }

  }
}

// Form + Select2
//

.tx-nursing .select2-container--default .select2-selection--multiple {
  border-radius: 0;
}

// Map + images things
//

$map-height: 350px;

.tx-nursing__images {

  .tx-nursing__jobmap {
    background: rgba($blue, 0.5);
    width: 100%;
    height: 0;
    max-width: 100%;
    // 4:3
    padding-bottom: 75%;
  }
  .tx-nursing__image {
    width: 100%;
    padding: 0 0 $grid-gap/2;

    transition: 0.3s;
  }

  @media screen and (min-width: 420px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -($grid-gap/2);

    .tx-nursing__image {
      width: 50%;
      padding: 0 $grid-gap/2 $grid-gap/2;
    }
  }
}

#tx-nursing__map {
  height: $map-height;

  max-height: 0;
  overflow: hidden;

  &.open {
    max-height: $map-height;
  }
}

// Application
//
$application-icon-width: 70px;
.tx-nursing__applicationbox {
  margin-bottom: 2em;
}

.tx-nursing__contact_quicklinks {
  display: flex;
  justify-content: space-around;

  a {
    width: $application-icon-width;
    height: $application-icon-width;
    display: block;

    background-repeat: no-repeat;
    background-size: $application-icon-width;
    background-position: center;

    &[href^="tel:"] {
      background-image: url(../Images/tel-pl.svg);
    }
    &[href^="mailto:"] {
      background-image: url(../Images/mail-pl.svg);
    }

    .hidden {
      display: none;
    }
  }
}

.quickApplicationForm-wrapper {
  h2, h3, h4, p {
    color: $border-color;
  }
  input,
  textarea {
    color: $text-color;

    &::-webkit-input-placeholder {
      color: $border-color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $border-color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $border-color;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $border-color;
    }
  }
}

.quickApplicationForm {
  label:not(.form-check-label) {
    display: none;
  }

  input#email2 {
    position: absolute;
    left: -200vw;
    top: 100vh;
    opacity: 0;
    pointer-events: initial;
    height: 1px;
    overflow: hidden;
    width: auto;
  }

  input,
  textarea,
  button {
    width: 100%;
    text-align: left;

    &.form-check-input {
      width: auto;
    }
  }

  .form-group {
  }

  .form-check {
    margin-bottom: .5em;
  }
}

// form Errors in FE
//

$parsley-error-color: #c32d44;
$parsley-error-bg: #f2dede;
$parsley-error-border: $parsley-error-color;

$parsley-success-color: $link-color;
$parsley-success-bg: #fff;
$parsley-success-border: $parsley-success-color;

.quickApplicationForm-wrapper {
  input.parsley-error,
  select.parsley-error,
  textarea.parsley-error {
    color: $parsley-error-color;
    background-color: $parsley-error-bg;
    border: 1px solid $parsley-error-border;
  }

  .form-check.parsley-error {
    background-color: $parsley-error-bg;
    border: 1px solid $parsley-error-border;

    .parsley-errors-list {
      color: $parsley-error-color;
    }
  }

  input.parsley-success, select.parsley-success, textarea.parsley-success {
    border: 1px solid $parsley-success-border;
    background: $parsley-success-bg;
    color: $parsley-success-color;
  }

  .form-check.parsley-success {
    background-color: $parsley-success-bg;
    border: 1px solid $parsley-success-border;
  }
}
