{namespace js=Joekolade\Nursing\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="{f:if(condition: isAjax, then: 'Ajax', else: 'Default')}"/>

<f:section name="header">
	<f:render partial="Header.html" arguments="{_all}"></f:render>
</f:section>

<f:section name="main">
	<div class="loader"><p class="loading">Lädt<span>.</span><span>.</span><span>.</span></p></div>
	<f:if condition="!{prefilter}">
		<f:then>
			<p>{employers -> f:count()} Ergebnisse</p>
			<f:widget.paginate objects="{employers}" as="pemployers" configuration="{settings.list.pagination}">
				<f:for each="{pemployers}" as="employer" iteration="i">
					<f:comment>
						<f:if condition="{i.index} >= {f:cObject(typoscriptObjectPath: 'lib.tx_nursing.math', data: '({page})*2')}">
							<f:if condition="{i.index} < {f:cObject(typoscriptObjectPath: 'lib.tx_nursing.math', data: '({page}+1)*2')}">
							</f:if>
						</f:if>
					</f:comment>
					<f:render partial="Employer/ListItem" arguments="{_all}"></f:render>

				</f:for>
			</f:widget.paginate>
		</f:then>
		<f:else>
			<f:for each="{employers}" as="employer" iteration="i">
				<f:render partial="Employer/ListItem" arguments="{_all}"></f:render>
			</f:for>
		</f:else>
	</f:if>

	<div class="tx-nursing__overlay"></div>
</f:section>
<f:section name="marker">

	<script type="text/javascript">
		// @formatter:off
		staticMapMarkers =
			{js:geoArray(employers: employers) -> f:format.raw()}
		;
		// @formatter:on
	</script>
</f:section>
<f:section name="aside">
	<f:render partial="EmployerFilter" arguments="{_all}"></f:render>
</f:section>
</html>
