<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Aside"/>

<f:section name="header">
	<h3 class="text-lighter">
		<f:translate key="0">
			Kontakt
		</f:translate>
	</h3>
	<div class="tx-nursing_aside-address text-lighter">
		{employer.address -> f:format.html()}
	</div>
</f:section>
<f:section name="main">
	<div class="text-lighter">
	<!-- Content -->
	<f:if condition="{settings.text}">
		{settings.text -> f:format.html()}
	</f:if>

	<!-- offene Stellen -->
	<f:if condition="{positions}">
		<div class="tx-nursing_employer-position-list">
			<h3 class="text-lighter">
				<f:translate key="0">
					offene Stellen
				</f:translate>
			</h3>
			<f:for each="{positions}" as="position">
				<article class="tx-nursing_employer-position-list-item">
					<div class="tx-nursing__item-meta">
						<h5>
							<f:link.action pageUid="{settings.listPID}" controller="Position" action="show" pluginName="list" arguments="{position: position}">
								{position.types.title}
							</f:link.action>
						</h5>
						<f:if condition="{position.employments}">
							{position.employments.0.title}
						</f:if>
						<f:if condition="{position.location}">
							in {position.location.zip} {position.location.title}
						</f:if>
					</div>
				</article>
			</f:for>
		</div>
	</f:if>
	</div>
</f:section>

</html>
